.vscode/*
!.vscode/launch.json

.idea

.directory

node_modules

.nyc_output
.DS_Store
.npmrc

.env
.env.test

.editorconfig
.dockerignore
.gitignore
.eslintignore
.eslintrc.js

test
example
docker

docker-compose.yml

*.ts
!*.d.ts
tsconfig.json
